* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #eaf2fb;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

/* ШАПКА ТА ПІДВАЛ */
.top-bar, .bottom-bar {
    background: #005f99;
    color: white;
    height: 60px;
    display: flex;
    justify-content: flex-end; /* Текст СТРОГО СПРАВА */
    align-items: center;       /* Центрування ПО ВЕРТИКАЛІ */
    padding: 0 20px;
    margin-bottom: 5px;
    width: 100%;
}

.bottom-bar {
    clear: both;
    margin-top: 5px;
}

.corner {
    background: white;
    color: #005f99;
    padding: 8px 20px;
    border-radius: 4px;
    font-weight: bold;
}

/* ГЕОМЕТРІЯ FLOAT */

aside.right {
    float: right;
    width: 24%;
    background: #cce0ff;
    padding: 15px;
    min-height: 550px;
    border-radius: 4px;
}

.left-content-wrapper {
    float: left;
    width: 75.5%;
}

aside.left {
    float: left;
    width: 30%;
    background: #cce0ff;
    padding: 15px;
    min-height: 480px;
    border-radius: 4px;
}

.center-part {
    float: right;
    width: 69%;
}

/* МЕНЮ */
.menu {
    background: #004477;
    margin-bottom: 5px;
    border-radius: 4px;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu ul li a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* КОНТЕНТ */
main {
    background: white;
    padding: 20px;
    min-height: 418px;
    border-radius: 4px;
}

/* БЛОК 6 */
.footer-strip {
    clear: both;
    background: #99ccff;
    padding: 15px;
    margin-top: 5px;
    border-radius: 4px;
}

/* Очищення флоатів */
.container::after, .left-content-wrapper::after {
    content: "";
    display: table;
    clear: both;
}

img {
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
}